.header {
    /*display: flex;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1:first-child {
    margin-bottom: 0;
}

.header h1:last-child {
    margin-top: 0;
}

table{
    width: 100%;
    height: auto;
    border: orange;
    border-collapse: collapse;
}

td {
    border: 1px solid orange;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_name{
    color: black;
    text-decoration: none;
}

.player_name, .player_name:visited{
    color: black;
    text-decoration: none;
}

.table_index{
    overflow-y: auto;
    height: 100px;
    font-weight: bold;
}

